.account {
    padding-bottom:50px;
    padding-left: 40px;
    border-radius: 50%;
    box-shadow: inset -2px -2px 0px rgb(255, 255, 255), 5px 5px 0px rgb(255, 255, 255), inset 0px 0px 5px rgb(0, 0, 0);
    
    margin: 0%;
    
    vertical-align: bottom;
    display: block; 
    
}

.account active {
    background-color: red;
}